:root {
  --pine: #a88e6b;
  --font-family-sans: "Lato", sans-serif;
  --font-color: var(--pine);
  --grid-gutter: 30px;
  --spacing-sm: 40px;
  --spacing-lg: 80px;
}

.logo {
  max-width: 180px;
  margin: var(--spacing-lg) 0;

  @media screen and (max-width: 900px) {
    margin: var(--spacing-sm) 0;
  }
}

.about {
  margin: var(--spacing-lg) 0;
  border-top: 1px solid var(--pine);
  padding-top: var(--spacing-lg);

  img {
    border-radius: 20px;
  }

  @media screen and (max-width: 900px) {
    margin: var(--spacing-sm) 0;
    padding-top: var(--spacing-sm);

    h3 {
      margin: 0;
    }
  }
}

.behold {
  border-top: 1px solid var(--pine);
  padding-top: var(--spacing-lg);

  @media screen and (max-width: 900px) {
    padding-top: var(--spacing-sm);
  }
}

.contact {
  border-top: 1px solid var(--pine);
  margin-bottom: var(--spacing-lg);
  padding-top: var(--spacing-lg);

  @media screen and (max-width: 900px) {
    margin-bottom: var(--spacing-sm);
    padding-top: var(--spacing-sm);
  }

  .line {
    display: flex;
    justify-content: center;
  }
}

a {
  color: var(--pine);
}
